[Unit]
Description=Remount all filesystems and bring up all docker compose services after boot
Wants=network-online.target
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30min
ExecStart=/usr/local/bin/boot-fix.sh

[Install]
WantedBy=multi-user.target
